*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
}
h1, footer{
    width: 100%;
    min-height: 50px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 15px;
}
footer{
    background-color: blue;
}
.small-container{
    width: calc(100%-10px);
    min-height: 500px;
    display: flex;
    gap: 10px;
    margin: 10px 20px;
}
.green, .pink{
    background-color: green;
    color: white;
    width: 40%;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
}
.pink{
    background-color: pink ;
}
.yellow{
    background-color: yellow;
    padding-top: 10px;
    border-radius: 15px;
}
@media screen and (max-width: 1024px) {
.small-container{
    display: flex;
    flex-wrap: wrap;
}
.green, .pink, .yellow{
    width: 100vw;
}
}